body {
  background-image: url('../images/wood.jpg');
  font-family: sans-serif;
  overflow-y: scroll;
  color: #555;
}

/*HOME PAGE*/
.greeting {
  width: 960px;
  height: 100%;
  background: none;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 60px;
  left: 20px;
  right: 0;
}

.hideContainer {
    animation: hideContainer 2s forwards;
}


@keyframes hideContainer {
    0% {top: 60px; opacity: 1;}
    15% {top: 260px; opacity: 1;}
    100% {top: -2000px; opacity: 0;}
}

/*
@keyframes hideContainer {
    0% {top: 60px; height: 600px;}
    10% {top: 250px; height: 600px;}
    40% {top: -1000px;
        transform: rotate(80deg);}
    100% {z-index: 2; 
          top: -1000px;
          left: 100%;
          height: 0;
          opacity: 0;}
}
*/
.leftSideStuff {
  box-sizing: border-box;
  padding: 20px;
  float: left;
  background: #fff;
  width: 520px;
  height: 100%;
  box-shadow: 0px 5px 8px #000;
}

.items {
  background: none;
  width: 400px;
  height: 560px;
  float: right;
  margin-right: 40px;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.items::after {
  clear: both;
}

.items:hover {
  width: 440px;
  margin-right: 0;
}

.items:hover > .item {
  animation-play-state: paused;
}

.item {
  box-sizing: border-box;
  position: relative;
  background: #ccc;
  height: 100px;
  width: 400px;
  float: left;
  margin-left: 0;
  animation: scroll 15s infinite linear;
  border: 1px solid #333;
  border-right: none;
  border-left: none;
  text-align: center;
  z-index: 0;
}

.item:nth-of-type(2n) {
  background: #a3a3a3;
}

.item:hover {
  height: 118px;
  width: 430px;
  float: left;
  position: relative;
  left: -2px;
  box-shadow: 0 0 15px 0 #000;
  margin: -11px auto;
  z-index: 5;
  box-shadow: -2px 5px 10px #000;
  background: #fff;
  border: none;
  transition: background .2s, width .2s linear;
}

.item:hover::after {
  border-top: 1px dotted #333;
  font-family: verdana;
  font-size: 12px;
  content: "Click to go to this item";
}

.greetingOption {
    height: 100px;
    width: 100%;
    border: none;
    background: none;
    color: #333;
    outline: none;
}

.shadowLayer {
  background: none;
  position: relative;
  top: -100%;
  margin-right: 40px;
  height: 100%;
  width: 400px;
  float: right;
  z-index: -2;
  box-shadow: -2px 5px 10px #000;
}

.itemsLabel {
    box-sizing: border-box;
    float: left;
    width: 400px;
    height: 40px;
    padding-top: 10px;
    font-size: 22px;
    background: #fff;
    text-align: center;
    z-index: 3;
    border-bottom: 1px solid #444;
}

@keyframes scroll {
  
  /*item height mult by num of items*/
  0% {top: 0px;}
  100% {top: -1200px;}
}

/*------------------------------*/

/*LOGIN PAGE and NEW USER REGISTRATION*/
.loginGreeting {
    box-sizing: border-box;
    opacity: 1;
    width: 920px;
    height: 600px;
    background: #fff;
    margin: 60px auto;
    padding: 20px 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 8px #000;
}

.loginGreetingLoad {
    animation: loginGreetingLoad 1s forwards .1s;
}

@keyframes loginGreetingLoad {
    0% {top: -1000px; opacity: 0;}
    100% {top: 0px; opacity: 1;}
}

.loginStatic {
    opacity: 1;
}

.loginGreeting form {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.loginGreetingUnload {
    opacity: 1;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: none;
    top: 60px;
    z-index: 2;
    animation: loginGreetingUnload 1s forwards;
}

@keyframes loginGreetingUnload {
    0% {top: 60px; opacity: 1;}
    40% {top: 260px; opacity: 1;}
    100% {top: -1000px; opacity: 0;}
}
/*
@keyframes loginGreetingUnload {
    0% {top: 60px; height: 600px;}
    10% {top: 250px; height: 600px;}
    40% {top: -1000px;
        transform: rotate(-80deg);}
    100% {z-index: -1; 
          top: -2000px;
          left: -100%;
          height: 0;
          opacity: 0;}
}    
*/ 
.loginGreeting label {
    display: inline-block;
    width: 100%;
    font-size: 22px;
    margin-top: 30px;
}

.loginGreeting input {
    height: 40px;
    width: 400px;
}

.loginWarning {
    color: red;
    font-size: 16px;
    margin-left: 15px;
}
/*------------------------------*/


/*DASHBOARD PAGE*/
.dashboard {
    box-sizing: border-box;
    width: 920px;
    height: 600px;
    background: #fff;
    color: #666;
    margin: 60px auto;
    padding: 65px 0px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 8px #000;
    overflow-y: scroll;
}

.dashboardHeader {
    box-sizing: border-box;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60px;
    width: 920px;
    padding: 15px 100px;
    background: #eee;
    z-index: 4;
    box-shadow: 0px 3px 5px #000;
}

.dashboardHeader h1 {
    display: inline-block;
    margin: 0;
}

.dashboardLogout {
    display: inline-block;
    float: right;
}

.newPollButton {
    float: right;
}

.dashboardLoad {
    opacity: 0;
    animation: dashboardLoad .6s forwards;
}

@keyframes dashboardLoad {
    0% {opacity: 1;}
    100% {opacity: 1;}
}

.dashboardFadeOut {
    top: 0;
    animation: dashboardFadeOut .5s forwards .5s;
}

@keyframes dashboardFadeOut {
    0% {opacity: 1;}
    100% {opacity: .2;}
}

.dashboardFadeIn {
    opacity: .2;
    animation: dashboardFadeIn .5s forwards .5s;
}

@keyframes dashboardFadeIn {
    0% {opacity: .2}
    100% {opacity: 1;}
}

.keepDashboardFaded {
    opacity: .2;
}

.dashboardPoll {
    box-sizing: border-box;
    height: 100px;
    width: 840px;
    border: 1px solid #bbb;
    margin: 15px auto;
    box-shadow: 0px 2px 1px #000;
    border-radius: 10px;
}

.dashboardPollTitle {
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    float: left;
    width: 400px;
    height: 100%;
    padding: 10px;
}

.dashboardPollInfo {
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    padding: 10px;
    float: left;
    text-align: left;
    border-left: 1px solid #bbb;
}

.goToPoll {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 100px;
    float: right;
    background: #5b5;
    color: #fff;
    margin: 9px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    outline: none;
}

.deletePoll {
    display: block;
    box-sizing: border-box;
    height: 30px;
    width: 100px;
    float: right;
    background: #c55;
    color: #fff;
    margin: 9px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    outline: none;
}

.noPollsToDisplay {
    width: 80%;
    font-size: 36px;
    margin: 100px auto;
    text-align: center;
}

/*------------------------------*/

/*NEW POLL DIALOG WINDOW*/
.newPoll {
    box-sizing: border-box;
    width: 500px;
    height: 480px;
    background: #eee;
    position: absolute;
    top: 145px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 30px;
    z-index: 2;
    box-shadow: 0px 1px 2px #000;
    overflow-y: scroll;
    border: 1px solid #333;
}

.newPollInput {
    width: 370px;
    height: 25px;
    margin-bottom: 15px;
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid #777;
}

.newPollInput:focus {
    border: 1px solid green;
    box-shadow: 0 0 10px lightgreen;
}

.optional {
    color: #777;
}

.newPollLoad {
    z-index: 2;
    animation: newPollLoad 1s forwards;
}

@keyframes newPollLoad {
    0% {top: -1000px;}
    100% {top: 145px;}
}

.newPollUnload {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    animation: newPollUnload 1s forwards;
}

@keyframes newPollUnload {
    0% {top: 145px; height: 500px;}
    20% {top: 250px; height: 500px;}
    90% {top: -1000px; height: 500px;}
    100% {top: -1000px; height: 0;}
}

.removeOption {
    display: inline-block;
    background: #e44;
    position: relative;
    top: 3px;
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: none;
    outline: none;
    border-radius: 50%;
}

.loadOptionInput, .loadOptionInput label {
    opacity: 0;
    margin-bottom: 20px;
    animation: loadOptionInput .5s forwards;
}

@keyframes loadOptionInput {
    0% {opacity: 0; height: 0;}
    40% {height: 50px;}
    100% {opacity: 1; height: 50px;}
}

/*------------------------------*/

/*CONFIRM POLL DELETION DIALOG*/



/*------------------------------*/


/*POLL PAGE}*/
.pollContainer {
    box-sizing: border-box;
    width: 920px;
    height: 600px;
    background: #fff;
    color: #666;
    margin: 60px auto;
    padding: 15px 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 8px #000;
    overflow: auto;
}

.pollOption {
    border: 1px solid #333;
    margin: 5px;
    height: 45px;
    width: 840px;
    font-size: 24px;
    background: none;
    border-radius: 5px;
    color: #777;
    font-weight: bold;
}

.pollHeader {
    height: 50px;
    border-bottom: 2px solid #333;
}

.pollTitle {
    display: block;
    float: left;
}

.resultsButton {
    display: block;
    float: right;
    margin-left: 50px;
}

.resultGraph {
    box-sizing: border-box;
    margin: 0 0 10px 0;
    text-align: center;
    padding-top: 8px;
    box-shadow: inset 0 0 10px lightgreen;
}

.resultTitle {
    margin: 0;
    color: #aaa;
    border: 1px solid red;
}
/*------------------------------*/