body {
  background-image: url('../images/wood.jpg');
  font-family: sans-serif;
  overflow: hidden;
}

/*HOME PAGE*/
.greeting {
  width: 960px;
  height: 100%;
  background: none;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 60px;
  left: 20px;
  right: 0;
}

.hideContainer {
    animation: hideContainer 2s forwards;
}
/*
@keyframes hideContainer {
    0% {opacity: 1;}
    40% {opacity: 0;}
    100% {z-index: -1;}
}
*/

@keyframes hideContainer {
    0% {top: 60px; height: 600px;}
    10% {top: 250px; height: 600px;}
    40% {top: -1000px;
        transform: rotate(80deg);}
    100% {z-index: -1; 
          top: -2000px;
          left: 100%;
          height: 0;
          opacity: 0;}
}

.leftSideStuff {
  box-sizing: border-box;
  padding: 20px;
  float: left;
  background: #eaefec;
  width: 520px;
  height: 100%;
  box-shadow: 0px 5px 8px #000;
}

.items {
  background: none;
  width: 400px;
  height: 560px;
  float: right;
  margin-right: 40px;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: hidden;
}

.items::after {
  clear: both;
}

.items:hover {
  width: 440px;
  margin-right: 0;
}

.items:hover > .item {
  animation-play-state: paused;
}

.item {
  box-sizing: border-box;
  position: relative;
  background: #aaa;
  height: 100px;
  width: 400px;
  float: left;
  margin-left: 0;
  animation: scroll 15s infinite linear;
  border: 1px solid #333;
  border-right: none;
  border-left: none;
  text-align: center;
  z-index: 0;
}

.item:nth-of-type(2n) {
  background: #7d7d7d;
}

.item:hover {
  height: 118px;
  width: 430px;
  float: left;
  position: relative;
  left: -2px;
  box-shadow: 0 0 15px 0 #000;
  margin: -11px auto;
  z-index: 5;
  box-shadow: -2px 5px 10px #000;
  background: #eaefec;
  border: none;
  transition: background .2s, width .2s linear;
}

.item:hover::after {
  border-top: 1px dotted #333;
  font-family: verdana;
  font-size: 12px;
  content: "Click to go to this item";
}

.shadowLayer {
  background: none;
  position: relative;
  top: -100%;
  margin-right: 40px;
  height: 100%;
  width: 400px;
  float: right;
  z-index: -2;
  box-shadow: -2px 5px 10px #000;
}

.itemsLabel {
    box-sizing: border-box;
    float: left;
    width: 400px;
    height: 40px;
    padding-top: 10px;
    font-size: 22px;
    background: #eaefec;
    text-align: center;
    z-index: 3;
    border-bottom: 1px solid #444;
}

@keyframes scroll {
  
  /*item height mult by num of items*/
  0% {top: 0px;}
  100% {top: -1200px;}
}

/*------------------------------*/

/*LOGIN PAGE*/
.loginGreeting {
    box-sizing: border-box;
    opacity: 1;
    width: 920px;
    height: 600px;
    background: #eaefec;
    margin: 60px auto;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 8px #000;
}

.loginGreetingLoad {
    animation: loginGreetingLoad 1s forwards .1s;
}

@keyframes loginGreetingLoad {
    0% {top: -1000px; opacity: 0;}
    100% {top: 0px; opacity: 1;}
}

.loginStatic {
    opacity: 1;
}

.loginGreeting form {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.loginGreetingUnload {
    opacity: 1;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: none;
    top: 60px;
    z-index: 2;
    animation: loginGreetingUnload 2s forwards;
}
/*
@keyframes loginGreetingUnload {
    0% {opacity: 1;}
    40% {opacity: 0;}
    100% {z-index: -1;}
}
*/
@keyframes loginGreetingUnload {
    0% {top: 60px; height: 600px;}
    10% {top: 250px; height: 600px;}
    40% {top: -1000px;
        transform: rotate(-80deg);}
    100% {z-index: -1; 
          top: -2000px;
          left: -100%;
          height: 0;
          opacity: 0;}
}    
    
.loginGreeting label {
    display: inline-block;
    width: 150px;
    font-size: 22px;
    margin-top: 30px;
}

.loginGreeting input {
    height: 40px;
    width: 400px;
}

.loginWarning {
    color: red;
    margin-left: 15px;
}
/*------------------------------*/


/*DASHBOARD PAGE*/
.dashboard {
    box-sizing: border-box;
    width: 920px;
    height: 600px;
    background: #eaefec;
    margin: 60px auto;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 8px #000;
}

.dashboardLoad {
    opacity: 0;
    animation: dashboardLoad .6s forwards;
}

@keyframes dashboardLoad {
    0% {opacity: 1;}
    100% {opacity: 1;}
}

.dashboardFadeOut {
    top: 0;
    animation: dashboardFadeOut .5s forwards .5s;
}

@keyframes dashboardFadeOut {
    0% {opacity: 1;}
    100% {opacity: .2;}
}

.dashboardFadeIn {
    opacity: .2;
    animation: dashboardFadeIn .5s forwards .5s;
}

@keyframes dashboardFadeIn {
    0% {opacity: .2}
    100% {opacity: 1;}
}

.keepDashboardFaded {
    opacity: .2;
}

/*------------------------------*/

/*NEW POLL DIALOG WINDOW*/
.newPoll {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background: #77b;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    box-shadow: 0px 5px 8px #000;
}

.newPollLoad {
    opacity: 0;
    animation: newPollLoad 1s forwards;
}

@keyframes newPollLoad {
    0% {top: -1000px;}
    100% {top: 100px;
           opacity: 1;}
}

.newPollUnload {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    animation: newPollUnload 1s forwards;
}

@keyframes newPollUnload {
    0% {top: 100px; height: 500px;}
    20% {top: 200px; height: 500px;}
    90% {top: -1000px; height: 500px;}
    100% {top: -1000px; opacity: 0;
    height: 0;}
}

.removeOption {
    background: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border: none;
    outline: none;
}

/*------------------------------*/